
        <main class="row expanded">
            <div class="column small-12">

            <header>
                <h1>[[ CLASS NAME ]]</h1> <!-- name<small> extends <a>other class</a></small> -->
                [[ CLASS DESCRIPTION ]]
            </header>

            <!-- Constructor -->
            <div class="row">
                <div class="column small-12">
                    <div class="row info">
                        <div class="column small-12">
                            <!-- <h4>new MyClass( name, [ options ], [ test=32 ] )</h4> -->
                            <h4>[[ CLASS CONSTRUCTOR SYNTAX ]]</h4>
                            <div class="description">
                                <p>[[ CLASS CONSTRUCTOR DESCRIPTION ]]</p>
                                <table>
                                    <thead>
                                        <tr>
                                            <td>Parameter</td>
                                            <td>Type</td>
                                            <td>Optional</td>
                                            <td>Default Value</td>
                                            <td>Description</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        [[ CLASS CONSTRUCTOR PARAMETERS ]]
                                        <!-- <tr>
                                            <td>name</td>
                                            <td>String</td>
                                            <td><span class="mandatory">✗</span></td>
                                            <td><span class="none">None</span></td>
                                            <td>The name of the context to use.</td>
                                        </tr>
                                        <tr>
                                            <td>options</td>
                                            <td>Object</td>
                                            <td><span class="optional">✓</span></td>
                                            <td><pre><code class="json">{ a:true, b:5 }</code></pre></td>
                                            <td>Some random option object to test the parser.</td>
                                        </tr>
                                        <tr>
                                            <td>test</td>
                                            <td>Number</td>
                                            <td><span class="optional">✓</span></td>
                                            <td><span class="value">32</span></td>
                                            <td>Some random parameter with a default value to test the parser.</td>
                                        </tr> -->
                                    </tbody>
                                </table>
                                <p><b>Type:</b><a href="#">[[ CLASS TITLE ]]</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row menu table-of-content">
                [[ CLASS PROPERTIES ]]
                [[ CLASS METHODS ]]
            </div>

            [[ CLASS PROPERTIES INFO ]]

            [[ CLASS METHODS INFO ]]

        </div>
        </main>
