

        <main class="row expanded">
            <div class="column small-12">

            <header>
                <h1>[[ MODULE NAME ]]</h1>
                [[ MODULE DESCRIPTION ]]
            </header>

            <div class="row menu table-of-content">
                [[ MODULE VARIABLES ]]
                [[ MODULE FUNCTIONS ]]
                [[ MODULE CLASSES ]]
            </div>

            [[ MODULE VARIABLES INFO ]]

            [[ MODULE FUNCTIONS INFO ]]

        </div>
        </main>
