input[type=text] {
	background: transparent;
	border: 0;
	outline: 0;
	border-radius: 0;
	border-bottom: 2px solid #666;
	box-shadow: none;
	transition-property: background, border;
	color: #CCC; }

	input[type=text]:focus {
		background: #111;
		border: 0;
		outline: 0;
		border-radius: 0;
		border-bottom: 2px solid #888;
		box-shadow: none;
		color: #CCC; }

	input[type=text]::placeholder {
		color: #666;
	}

.main-nav {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	background: #000;
	padding: 16px;
	height: 72px;
	z-index: 2;
	box-shadow: 0 0 8px 2px rgba( 0,0,0, 0.8 ); }

	.main-nav .brand {
		background: url( darky_logo.png );
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left;
		height: 40px; }

	.main-nav input { margin: 0; }

.alt-nav {
	position: absolute;
	left: 0;
	top: 72px;
	right: 0;
	background: #323238;
	padding: 0 16px;
	height: 32px;
	z-index: 1;
	transition: transform 250ms, opacity 250ms;
	transform: translateY( -100% );
	opacity: 0;
	box-shadow: 0 0 8px 2px rgba( 0,0,0, 0.8 ); }

	.alt-nav a {
		display: inline-block;
		box-sizing: border-box;
		margin: 0;
		padding: 0 16px;
		font-weight: 300;
		color: #DEDEDE;
		line-height: 32px;
		background: transparent;
		box-shadow: inset 0 0 0 rgba( 255, 255, 255, 0.6 );
		transition: background 250ms, box-shadow 250ms; }

		.alt-nav a:hover {
			background: rgba( 255, 255, 255, 0.1 );
			box-shadow: inset 0 -3px 0 -1px rgba( 255, 255, 255, 0.6 ); }

.main-nav:hover + .alt-nav, .alt-nav:hover {
	transform: translateY( 0 );
	opacity: 1;
}

body, html { overflow: hidden; }

body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	background: #2A2A2A;
	color: #DDD;
	font-family: "Ubuntu", sans-serif;
	font-weight: 400; }

	body > div:first-of-type {
	margin-top: 72px;
	height: calc( 100vh - 72px );
	overflow: auto; }

.sidebar {
	position: fixed;
	left: 0;
	top: 72px;
	bottom: 0;
	width: 240px;
	background: #111;
	padding-top: 32px;
	box-shadow: inset -8px 0 8px -4px rgba( 0,0,0,0.7 );
	overflow: auto;
}

main {
	position: fixed;
	left: 240px;
	top: 72px;
	right: 0;
	bottom: 0; }

	main > div {
		overflow: auto;
	}

/* ----------------------------------------------------------------------------------- */
/*
.menu {
	border-right: 1px solid rgba( 0,0,250, 0.1 );
	padding: 32px;
	height: 100%;
	overflow: auto;
}

.menu > li {
	margin-bottom: 32px;
}

.menu .menu-group > span {
	font-weight: 700;
	font-size: 1.25em;
}

.menu .menu-group > ul {
	border-left: 2px solid rgba( 0,0,250, 0.1 );
	margin-top: 0.6em;
	margin-left: 4px;
}

.menu .spacer {
	margin-bottom: 32px;
}
*/

.sidebar .menu .menu-group ul > li,
.table-of-content .menu-group ul > li {
	margin: 4px 0;
	padding: 8px;
	color: #0083B9;
	border: 1px solid transparent;
	transition: border-color 250ms;
	position: relative;
	overflow: hidden;
}

	.sidebar .menu .menu-group ul > li > a,
	.table-of-content .menu-group ul > li > a {
		margin: 0;
		padding: 0;
		position: relative;
		z-index: 2;
		color: #0083b9;
		transition: color 250ms;
	}

	.sidebar .menu .menu-group ul > li:hover > a,
	.table-of-content .menu-group ul > li:hover > a {
		color: #4ecbfc;
	}

	.sidebar .menu .menu-group ul > li::after,
	.table-of-content .menu-group ul > li::after {
		content: "";
		position: absolute;
		width: 200%;
		padding-top: 200%;
		box-sizing: border-box;
		background: rgba( 0,0,0, 0.5 );
		transform: translateX(-50%) rotate(-45deg);
		transform-origin: bottom right;
		transition: transform 250ms ease-out;
		right: 0;
		bottom: 0;
		z-index: 1; }

	.sidebar .menu .menu-group ul > li:hover,
	.table-of-content .menu-group ul > li:hover { border-color: rgba( 200, 200, 255, 0.15 ); }
	.sidebar .menu .menu-group ul > li:hover::after,
	.table-of-content .menu-group ul > li:hover::after { transform: translateX(10%) rotate(-45deg); }

/*
[data-term].hide { display: none; }

/* ------------------------------------------------------------------------------------------------- */

main > .column > header {
	padding: 0 2em;
	background: #202038;
	border: 1px solid #445;
	box-shadow: 4px 4px 8px rgba( 0,0,0, 0.7 );
	margin: 16px 0 32px;
}

main > .column > header > h1, main > .column > header > p { margin: 0; padding: 0; }
main > .column > header > p {
	margin: 0 0 8px;
	padding: 8px 16px;
	background: rgba( 0,0,0, 0.2 );
	color: #AAA;
	font-weight: 300;
	font-style: italic;
	box-shadow: inset 2px 2px 4px rgba( 0,0,0, 0.7 ), inset -2px -2px 4px rgba( 0,0,0, 0.5 );
}

main .menu {
	padding: 0;
	height: inherit;
	margin-bottom: 32px;
}

main .info {
	/*margin: 16px 0 32px;*/
	padding: 16px 0 32px;
	border: 1px solid transparent;
}

main .info .description {
	border-left: 3px solid rgba( 100, 100, 100, 0.2 );
	padding: 4px 16px;
}

main .info .description p {
	margin-bottom: 0;
}

main .info .description e {
	font-style: italic;
	color: #40A040;
}

main .info .description p:last-of-type b {
	text-transform: uppercase;
	margin-right: 8px;
}

main .info .description p:last-of-type a {
	color: blue;
	font-weight: 700;
}

table {
	background: #555;
	margin: 16px 0;
	border: 1px solid #000;
	box-shadow: 2px 2px 4px rgba( 0,0,0, 0.7 );
}

table thead,
table tbody {
	border: 0;
}

table thead {
	background: #446;
	color: white;
	border-bottom: 1px solid #000;
}

table tbody {
	background: #555;
}

table tr td {
	padding: 4px 8px;
}

main .info table tr td { line-height: 20px; max-height: 20px; }

table tbody tr:nth-child(even) {
	background: #383838;
}

main .info table td:nth-of-type(3) { text-align: center; }

main .info table tbody td:nth-of-type(1) { font-weight: 700; }
main .info table tbody td:nth-of-type(4) pre { display: inline-block; }

span.mandatory, span.boolean { color: red; }
span.optional { color: green; }
span.value { color: blue; }
span.string { color: #AAE; }
span.none { color: lightgray; }

.hljs { padding: 2px 4px; }
code {
	border-color: #555;
	background: rgba( 0,0,0, 0.5 );
	color: #AAA;
}
pre { box-shadow: 2px 2px 6px rgba( 0,0,0, 0.5 ); }

.anchor {
	visibility: hidden;
	position: relative;
	top: -30vh;
}

@keyframes show {
	0%, 100% { background: transparent; border-color: transparent; }
	25% { background: #6FE; border-color: rgba( 0,0,0, 0.2 ); }
}

.info.show {
	animation-name: show;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

#scroll-up {
	width: 64px;
	height: 64px;
	background: white;
	box-shadow: 1px 1px 8px rgba( 0,0,0, 0.2 );
	color: black;
	text-align: center;
	line-height: 72px;
	font-size: 32px;
	position: fixed;
	right: 32px;
	bottom: 24px;
	user-select: none;
	cursor: pointer;
	transition: opacity 250ms, bottom 250ms, background 100ms;
	transition-timing-function: ease-out;
}
#scroll-up:hover { background: #EAEAFF; }
#scroll-up:not(.visible) { opacity: 0; bottom: -64px; }
