.menu {
	border-right: 1px solid rgba( 0,0,250, 0.1 );
	padding: 32px;
	height: 100%;
	overflow: auto;
}

.menu > li {
	margin-bottom: 32px;
}

.menu .menu-group > span {
	font-weight: 700;
	font-size: 1.25em;
}

.menu .menu-group > ul {
	border-left: 2px solid rgba( 0,0,250, 0.1 );
	margin-top: 0.6em;
	margin-left: 4px;
}

.menu .spacer {
	margin-bottom: 32px;
}

.menu a {
	padding: 8px; color: black;
	margin-left: -2px;
	border-left: 2px solid transparent;
	transition: border-color 250ms, background-color 250ms, color 250ms;
}
.menu a:hover {
	border-left-color: blue;
	background-color: #EFE;
	color: blue;
}

[data-term].hide { display: none; }

/* ------------------------------------------------------------------------------------------------- */

main > header {
	border-bottom: 3px solid rgba( 0,0,150, 0.15 );
	margin-bottom: 32px;
}

main .menu {
	padding: 0;
	height: inherit;
	margin-bottom: 32px;
}

main .info {
	/*margin: 16px 0 32px;*/
	padding: 16px 0 32px;
	border: 1px solid transparent;
}

main .info .description {
	border-left: 3px solid rgba( 100, 100, 100, 0.2 );
	padding: 4px 16px;
}

main .info .description p {
	margin-bottom: 0;
}

main .info .description e {
	font-style: italic;
	color: #40A040;
}

main .info .description p:last-of-type b {
	text-transform: uppercase;
	margin-right: 8px;
}

main .info .description p:last-of-type a {
	color: blue;
	font-weight: 700;
}

main .info table {
	margin: 16px 0;
	/*border: 1px solid rgba( 0,0,0, 0.1 );*/
}

main .info table thead,
main .info table tbody {
	border: 0;
}

main .info table thead {
	background: #258FAF;
	color: white;
}

main .info table td:nth-of-type(3) { text-align: center; }

main .info table tbody td:nth-of-type(1) { font-weight: 700; }
main .info table tbody td:nth-of-type(3) { font-size: 1.7em; }
main .info table tbody td:nth-of-type(4) pre { display: inline-block; }

span.mandatory, span.boolean { color: red; }
span.optional { color: green; }
span.value { color: blue; }
span.string { color: grey; }
span.none { color: lightgray; }

.anchor {
	visibility: hidden;
	position: relative;
	top: -30vh;
}

@keyframes show {
	0%, 100% { background: transparent; border-color: transparent; }
	25% { background: #6FE; border-color: rgba( 0,0,0, 0.2 ); }
}

.info.show {
	animation-name: show;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
}

#scroll-up {
	width: 64px;
	height: 64px;
	background: white;
	box-shadow: 1px 1px 8px rgba( 0,0,0, 0.2 );
	color: black;
	text-align: center;
	line-height: 72px;
	font-size: 32px;
	position: fixed;
	right: 32px;
	bottom: 24px;
	user-select: none;
	cursor: pointer;
	transition: opacity 250ms, bottom 250ms, background 100ms;
	transition-timing-function: ease-out;
}
#scroll-up:hover { background: #EAEAFF; }
#scroll-up:not(.visible) { opacity: 0; bottom: -64px; }
